.featured{
	height: 600px;
	display: flex;
	justify-content: center;
	background-color: #013914;
	color: white;
    .container{
			width: 1400px;
			display: flex;
			align-items: center;

			.left{
				display: flex;
				flex-direction: column;
			}
			.right{
				
			}
    }
}